<!--Post row-->
<div class="row">
    <div class="col-md-12 blog-column">
        <div class="view overlay hm-blue-slight z-depth-2">
            <a><img src="{f:uri.resource(path: 'img/jura.jpg' package: 'Bucher.Maltnmore')}" class="img-responsive">
                <div class="mask waves-effect waves-light "></div>
            </a>
        </div>

        <div class="card-panel bl-panel text-center hoverable">
            <a href=""><h3 class="black-text">malt'n'more</h3></a>
            <h5>Whisky meets Passion</h5>

            <!--/.Social Counter-->
           <!--/.Social Counters for mobile-->
            <hr>
            <p class="text-center">


                <b>Herzlich Willkommen auf den Web-Seiten des Whisky-Clubs „malt'n'more e.V.“!</b><br>

                Der Verein wurde am 18. August 2006 in Waldbronn von 12 Whiskyliebhabern gegründet. Seine Mitglieder treffen sich regelmäßig, um gemeinsam über das „Lebenswasser“ zu philosophieren, die interessantesten Kreationen zu verkosten oder Ausflüge zum Thema zu unternehmen.
            </p>
        </div>
    </div>
</div>
<!--/.Post row-->