{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<div class="">
    <div class="card elegant-card hoverable wow card-reveal fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="view overlay hm-white-slight z-depth-1">

            <f:if condition="{image}">
                <f:then>
                    <media:image asset="{image}" alt="{alternativeText}" title="{title}" class="img-responsive"/>
                </f:then>
                <f:else>
                    <f:if condition="{neos:rendering.inEditMode()}">
                        <img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.svg')}"
                             title="Dummy image" alt="Dummy image" class="neos-handle img-responsive"/>
                    </f:if>
                </f:else>
            </f:if>

        </div>

        <!--Content-->
        <div class="card-content">
            <p>{neos:contentElement.editable(property: 'text')}</p>

        </div>

        <!-- Footer -->
        <div class="card-footer">
            <ul class="list-inline">
                <li><i class="fa fa-euro"></i>{title}</li>
            </ul>
        </div>
    </div>
</div>
